<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.38/vue.global.min.js"
      integrity="sha512-HdUtlwGlOvElJxGY2Ef7wEIxHS0OUmEMc3u+jLQuKWYwPRmGc0SGSOKJzC7uOIKNtgTRkjXQ03CGwtooY65Seg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div class="question">
        <p>What kind of framework Vue.js is</p>
        <p v-show="showAnswer">The Progressive JavaScript Framework</p>
        <button @click="toggleAnswer">{{label}}</button>
        <ul>
          <li v-for="blog in vueBlog">{{ blog }}</li>
          <!-- <li v-for="blog in getVueBlog(1)">{{ blog }}</li> -->
        </ul>
        <div>
          <button>Counter: {{ counter }}</button>
          <button @click="blogPosts.push('Advanced Vue')">
            Push one more vue book
          </button>
        </div>
      </div>
      <div class="question">
        <ul>
          <li v-for="blog in blogPosts2">{{ blog }}</li>
        </ul>
        <h2>{{count}} in Total</h2>
        <button @click="newBlog = 'Advanced Vue'">
          Push one more vue book
        </button>
      </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
